numpy
scipy
matplotlib
pandas
scikit-learn
tsfresh
xgboost
lightgbm
feature_engine
mlxtend
shap
memory_profiler
mpi4py
# pytest seems to be required for tsfresh but is not listed in its requirements.
# If we don't include it here, the CI fails.
pytest
